<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Impact Tracker</a>
    </div>    
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="{{ path('user') }}">Users list</a></li>
      <li><a href="{{ path('program') }}">Programs list</a></li>
      <li><a href="{{ path('survey') }}">Surveys list</a></li>
    </ul>
  </div>
</div>