body {
  padding-top: 50px;
  padding-bottom: 20px;
}

form{
	margin-bottom: 40px;
}

input[type="text"], 
form input[type="email"], 
textarea{
	width: 400px;
	margin: 5px 0 10px 0;
	padding: 5px 10px;
	display: block;
}

textarea{
	width: 600px;
	min-height: 160px;
}

select{
	font-size: 14px;
	padding: 10px;
}

select[type="multiple"]{
	width: 400px;
	margin: 5px 0 10px 0;
	display: block;
}

.page-header{
	position: relative;	
}

.page-header .nav{
	position: absolute;
	right: 0;
	top: 0;
}