<strong>Hello {{ user.fullname }}!</strong>
<p>{{survey.emailcontent }}</p>
<p>To complete our suvery click on this link:</p>
<div>
<a href="{{ url('answer_survey', {'id': user.id, 'program': program.id, 'survey': survey.id }) }}" class="btn btn-primary">Fill the survey</a>
</div>