{% extends '::base.html.twig' %}

{% block title %}Impact Tracker for graduates of Young People’s Programme{% endblock %}

{% block body %}
<div class="jumbotron">
	<h1>Welcome to Impact Tracker</h1>
	<p>Web application to keep in touch with alumni, re-engage them and track their work careers</p>
</div>

{% endblock %}