{% extends '::base.html.twig' %}

{% block title %}Impact Tracker for graduates of Young People’s Programme{% endblock %}

{% block body %}

<h1>Welcome</h2>
<ul>
	<li>
        <a href="{{ path('user') }}">Users list</a>
    </li>
    <li>
        <a href="{{ path('program') }}">Programs list</a>
    </li>
</ul>
{% endblock %}